body {
  font-family: system-ui;
  background-color: #ff967a;
}

h1 {
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

/* h2 {
  margin-top: 0px;
  background: #ddd;
} */

img {
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 900px;
  justify-content: center;
  margin-bottom: 40px;
}

.grid-titulo {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  /* background-color: aquamarine; */
}

.teste {
  /* background-color: burlywood; */
}

.cabecalho {
  background: tomato;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto;
  justify-content: end;
}

.sobre-contato {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  justify-content: center;
  padding: 0px 10px;
}

.cabecalho a,
li {
  text-decoration: none;
  list-style: none;
}

.cabecalho a {
  /* background: violet; */
  padding: 10px 0px;
  display: block;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
